django>=4.1,<5.0
djangorestframework==3.14.0
django-filter
markdown
gunicorn
requests
psycopg2==2.8.6
django-storages
boto3
django-dotenv
djangorestframework-simplejwt==5.3.0
django-cors-headers
celery
redis
random2
faker
